<!doctype html>
<html>
<head>
  <%- include('./partials/head') %>
  <title>Home Page</title>
</head>
<body class="bg-gray-500">
 <%- include('./partials/nav') %>

 <%- include('./partials/scripts') %>
</body>
</html>